@import "app/styles/forms.module";
@import "app/styles/buttons.module";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 400px;
  width: 100%;

  background: white;
  padding: 32px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__image {
  width: 128px;
}

.login__title {
  margin-top: 16px;
  font-weight: 900;
  font-size: 32px;
}

.login__description {
  margin-top: 8px;

  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-font);
}

.login__form {
  margin-top: 32px;
  width: 100%;
}

.login__divider {
  margin-top: 32px;
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;

  span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-font);
  }

  div {
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px solid #d9dff3;
  }
}

.login__providers {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.login__register {
  margin-top: 32px;

  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-font);
  text-decoration: underline;
}

.login__error {
  display: flex;
  align-items: center;

  color: #ff0000;
  font-size: 14px;
  padding: 4px 4px 0 4px;

  svg {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
}
