
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 400px;
  width: 100%;

  background: white;
  padding: 32px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.login__image {
  width: 128px;
}

.login__title {
  margin-top: 16px;
  font-weight: 900;
  font-size: 32px;
}

.login__description {
  margin-top: 8px;

  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-font);
}

.login__form {
  margin-top: 32px;
  width: 100%;
}

.login__input {
  width: 100%;
  height: 40px;
  border: 1px solid #d9dff3;
  border-radius: 5px;
  padding: 4px 16px;

  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.login__submit {
  margin-top: 16px;
  width: 100%;
}

.login__divider {
  margin-top: 32px;
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;

  span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-font);
  }

  div {
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px solid #d9dff3;
  }
}

.login__providers {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  button {
    width: 100%;

    color: black;
    background: white;
    border: 1px solid #d9dff3;

    font-size: 14px;
    font-weight: 500;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    &:hover {
      background: black;
      color: white;
    }
  }
}
