.macs {
    background: #D9DFF3;
    display: flex;
    flex-direction: column;

    padding: 32px 20px;
    width: 400px;
}

.macs__input {
    width: 100%;
    height: 50px;

    padding: 4px 16px;
    margin-bottom: 16px;

    border-radius: 10px;
    outline: none;
    border: none;

    color: #2f323c;
    font-size: 16px;
    font-weight: 700;

    background-color: #C9D0EB;
}

.macs__meta {
    color: #8C97B3;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 24px;
}

.macs__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow: auto ;


    -ms-overflow-style: none;
    scrollbar-width: none;
}

.macs__list::-webkit-scrollbar {
    display: none;
}

.mac__list__item {
    background-color: white;
    border-radius: 10px;

    opacity: 0.6;
    transition: 0.2s linear;
    cursor: pointer;
}

.mac__list__item:hover {
    opacity: 1;
}

.mac__list__item__active {
    opacity: 1;
    /* box-shadow: 10px 2px 5px 1px #C9D0EB; */
}

.mac__list__item__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 16px 0 16px;
}

.mac__list__item__name {
    display: flex;
    flex-direction: column;

    color: #2f323c;
    font-weight: 600;
}

.mac__list__item__name span {
    color: #8C97B3;
    font-size: 0.7em;
    font-weight: 400;
}

.mac__list__item__status {
    color: #18be94;
    font-size: 0.8em;
}

.macs__list__item__delimiter {
    border-bottom: 1px solid #D9DFF3;
    margin: 16px 0;
}

.mac__list__item__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px 16px 16px;

    color: #8C97B3;
    font-size: 0.8em;
    font-weight: 400;
}
