@import "app/styles/buttons";

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 32px 32px 24px 32px;
}

.page__header__title {
  & > div {
    display: flex;
    align-items: center;

    gap: 16px;
    margin-bottom: 8px;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
  }
}

.page_header__title__serial_number {
  font-size: 0.9em;
  font-weight: 700;

  color: var(--secondary-font);
}

.page_header__title__update {
  display: flex;
  align-items: center;

  font-size: 0.9em;
  font-weight: 500;

  color: var(--tertiary-font);
  opacity: 0.5;

  svg {
    width: 16px;
    height: 16px;

    margin-right: 8px;
  }
}

.page__header__action {
  display: flex;
  align-items: center;
  gap: 16px;
}

.overview__properties {
  display: flex;
  flex-direction: row;
  gap: 16px;

  margin: 16px 0 32px 0;


  .overview__properties__item {
    min-width: 200px;

    h3 {
      font-size: 13px;
      font-weight: 700;
      color: var(--tertiary-font);
      text-transform: uppercase;

      opacity: 0.5;
      margin-bottom: 12px;
    }

    .overview__properties__item__property {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 16px;

      label {
        font-size: 13px;
        font-weight: 600;
        color: var(--primary-font);
      }

      div {
        font-size: 13px;
        font-weight: 500;
        color: var(--tertiary-font);
      }
    }
  }
}
